In [1]:
import sys
sys.path.append('../')

from engine.globalconfig import GlobalConfig
from engine.loader.curveload import MarketDataLoader
import tquant as tq

In [2]:
config = GlobalConfig.from_json()
mdl = MarketDataLoader(config)

# Test su curve

In [3]:
tq.Settings.evaluation_date

datetime.date(2024, 4, 30)

In [4]:
mdl.ir_eur_curve_12m

    type       start    maturity tenor daycount     quote
0   CASH  2024-04-30  2024-05-06   3BD        6  0.040676
0   CASH  2024-04-30  2024-05-07    1W        7  0.040709
0   CASH  2024-04-30  2024-05-14    2W       14  0.040754
0   CASH  2024-04-30  2024-05-21    3W       21  0.040789
0   CASH  2024-04-30  2024-05-30    1M       30  0.040825
..   ...         ...         ...   ...      ...       ...
0   SWAP  2024-04-30  2062-04-28   38Y    13877  0.026019
0   SWAP  2024-04-30  2063-04-30   39Y    14244   0.02584
0   SWAP  2024-04-30  2064-04-30   40Y    14610   0.02566
0   SWAP  2024-04-30  2074-04-30   50Y    18262   0.02397
0   SWAP  2024-04-30  2084-04-28   60Y    21913   0.02291

[68 rows x 6 columns]

# Test su vola